<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Stock</th>
    <th>Category</th>
    <th *ngIf="hasImage()">Image</th>
    <th>Actions</th>
  </tr>
  </thead>
  @for (product of products; track $index) {
    <tbody>
    <tr class="thread-header">
    </tr>
    <tr (click)="openProductModal(product)">
      <td>{{ product.name }}</td>
      <td *ngIf="product.stock !== undefined">{{ product.stock }}</td>
      <td *ngIf="product.category">{{ product.category }}</td>
      <td *ngIf="product.image"><img [src]="product.image" width="50" alt="No image available"/></td>
      <td>
        <button (click)="goToEdit(product)">Edit</button>
        <button (click)="this.productSvc.delete(product.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  }
</table>



@if (selectedProduct) {
  <div class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>{{ selectedProduct.name }}</h2>
      <p><strong>Stock:</strong> {{ selectedProduct.stock }}</p>
      <p><strong>Category:</strong> {{ selectedProduct.category }}</p>
      <p><strong>Description:</strong> {{ selectedProduct.description }}</p>
      <p><img [src]="selectedProduct.image" alt="image" width="50"></p>
    </div>
  </div>
}
