<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Stock</th>
    <th>Category</th>
    @if (hasImage()) {
      <th>Image</th>
    }
    <th>Actions</th>
  </tr>
  </thead>
  @for (product of products; track $index) {
    <tbody>
    <tr class="thread-header">
    </tr>
    <tr (click)="openProductModal(product)">
      <td>{{ product.name }}</td>
      @if (product.stock !== undefined) {
        <td>{{ product.stock }}</td>
      }
      @if (product.category) {
        <td>{{ product.category }}</td>
      }
      @if (product.image) {
        <td><img [src]="product.image" width="50" alt="No image available"/></td>
      }
      @if (product.description) {
        <td>{{ product.description }}</td>
      }

      <td>
        <button (click)="goToEdit(product)">Edit</button>
        <button (click)="this.deleteProduct(product.id); $event.stopPropagation()">Delete</button>
      </td>
    </tr>
    </tbody>
  }
</table>


<!--@if (selectedProduct) {-->
<!--    <div class="modal">-->
<!--        <div class="modal-content">-->
<!--            <span class="close" (click)="closeModal()">&times;</span>-->
<!--            <h2>{{ selectedProduct.name }}</h2>-->
<!--            <p><strong>Stock:</strong> {{ selectedProduct.stock }}</p>-->
<!--            <p><strong>Category:</strong> {{ selectedProduct.category }}</p>-->
<!--            <p><strong>Description:</strong> {{ selectedProduct.description }}</p>-->
<!--            <p><img [src]="selectedProduct.image" alt="image" width="50"></p>-->
<!--        </div>-->
<!--    </div>-->
<!--}-->
