<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Storage System</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">Products</a>
      </li>
      <li *ngIf="auth.clearanceLevel >= 3" class="nav-item">
        <a class="nav-link" routerLink="/product-form">Add Product</a>
      </li>
      <li *ngIf="auth.clearanceLevel >= 2" class="nav-item">
        <a class="nav-link" routerLink="/user-register">Register User</a>
      </li>
    </ul>
    <form (ngSubmit)="onSearch()" class="form-inline my-2 my-lg-0">
      <input
        [(ngModel)]="searchTerm"
        class="form-control mr-sm-2"
        name="search"
        placeholder="Search"
        type="search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <button (click)="logout()" *ngIf="auth.isLoggedIn()" class="btn btn-outline-danger ml-2">Logout</button>
  </div>
</nav>
