<div class="table-container">
  <div class="table-actions">
    @if (route.snapshot.queryParams['name']) {
      <div class="search-status">
        Showing results for: "{{ route.snapshot.queryParams['name'] }}"
        <button mat-button (click)="clearSearch()">Clear Search</button>
      </div>
    }
  </div>
  @if (loading) {
    <div class="loading-spinner">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
  }

  @if (!loading && products.length === 0) {
    <div class="no-results">
      No products found. @if (route.snapshot.queryParams['name']) {
      Try a different search term.
    }
    </div>
  }
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Stock</th>
      <th>Category</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
      @for (product of products; track $index) {
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.stock }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.description }}</td>
          <button mat-button (click)="assignBarcodeToProduct(product)">Assign Barcode</button>
        </tr>
      }
    </tbody>
  </table>
</div>

